:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);

  --neutral-off-white: hsl(36, 100%, 99%);
  --neutral-grayish-blue: hsl(233, 8%, 79%);
  --neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --neutral-very-dark-blue: hsl(240, 100%, 5%);
}
/*Setting to zero*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  background-color: var(--neutral-off-white);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  position: relative;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}
.container {
  max-width: 1145px;
  margin: 40px auto 0 auto;
  padding: 0 15px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: block;
}
.header {
  position: fixed;
  padding: 20px 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--neutral-off-white);
  z-index: 2;
}
.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header_logo {
  flex: 0 0 60px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.header_logo img {
  display: block;
  max-width: 100%;
}

.header_list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header_list li {
  padding: 0;
  list-style: none;
  margin-right: 40px;
}
.header_list li:last-child {
  margin-right: 0;
}
li a {
  color: var(--neutral-dark-grayish-blue);
}
li a:active,
li a:hover {
  cursor: pointer;
  color: var(--primary-soft-red);
}
.header_burger {
  display: none;
}

main {
  flex: 1 1 auto;
}
.articles {
  margin-top: 175px;
  margin-bottom: 30px;
}
.main-article-area {
  flex: 2.5;
  margin-right: 30px;
}
.main-article-image {
  min-height: 150px;
}
.main-article-image img {
  width: 100%;
}
.main-article-text {
  margin-top: 30px;
}
.main-article-text h1 {
  flex: 1;
  padding-right: 45px;
  color: var(--neutral-very-dark-blue);
  font-size: 3.5em;
  line-height: 1.1em;
  font-weight: 800;
}
.main-article-text div {
  flex: 1;
  color: var(--neutral-dark-grayish-blue);
  line-height: 24px;
}
.main-article-text button {
  margin-top: 20px;
  padding: 12px 32px;
  color: var(--neutral-off-white);
  background-color: var(--primary-soft-red);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
  font-weight: 700;
  transition: 0.3s ease-out;
}
.main-article-text button:active,
.main-article-text button:hover {
  cursor: pointer;
  background-color: var(--neutral-very-dark-blue);
}

hr {
  margin: 30px 0;
  border: 1.5px solid var(--neutral-off-white);
}

.new-article-area {
  flex: 1;
  padding: 31px;
  background-color: var(--neutral-very-dark-blue);
  color: var(--neutral-grayish-blue);
}
.new-article-area article {
  flex: 1;
}
.new-article-area h2 {
  margin-bottom: 25px;
  color: var(--primary-soft-orange);
  font-size: 2.5em;
  font-weight: 700;
}
.new-article-area h3 {
  font-weight: 700;
  font-size: 1.37em;
}
h3 a {
  color: var(--neutral-off-white);
  transition: 0.3s ease-out;
}
h3 a:active,
h3 a:hover {
  cursor: pointer;
  color: var(--primary-soft-orange);
}
.new-article-area p {
  margin: 0;
  line-height: 1.8em;
}

.three-articles-area {
  padding-top: 10px;
}

.three-articles-area article {
  color: var(--neutral-dark-grayish-blue);
}

.single-article {
  flex: 1;
  margin-right: 12px;
}
.single-article:last-child {
  margin-right: 0;
}
.single-article-text {
  flex: 2;
  padding-left: 25px;
}
.single-article-text h4 {
  font-weight: 700;
  font-size: 1.2em;
}
h4 a {
  color: var(--neutral-very-dark-blue);
  transition: 0.3s ease-out;
}
h4 a:active,
h4 a:hover {
  cursor: pointer;
  color: var(--primary-soft-red);
}
.single-article-text .num {
  font-size: 2em;
  font-weight: 700;
  color: var(--neutral-grayish-blue);
}
.single-article-text .text {
  line-height: 1.5em;
  margin: 0;
}
.single-article-img {
  flex: 1;
  min-height: 130px;
  overflow: hidden;
  position: relative;
}
.single-article-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  object-position: right;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--neutral-dark-grayish-blue);
  transition: 0.3s ease-out;
}
.attribution a:hover,
.attribution a:active {
  color: var(--primary-soft-orange);
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .main-article-text h1 {
    font-size: 3em;
  }
  hr {
    margin: 20px 0;
  }
  .new-article-area h3 {
    font-size: 1em;
  }
  .single-article-img {
    flex: 2;
  }
  .single-article-img img {
    object-position: top;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 30px;
    margin: 0;
  }

  body .lock {
    overflow: hidden;
  }
  .header {
    padding: 0;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
    z-index: 6;
  }
  .header_burger span {
    background-color: var(--neutral-very-dark-blue);
    position: absolute;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 0.3s ease;
  }
  .header_burger::before,
  .header_burger::after {
    content: "";
    background-color: var(--neutral-very-dark-blue);
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease;
  }
  .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }

  .header_burger.active span {
    transform: scale(0);
  }
  .header_burger.active::before {
    transform: rotate(-45deg);
    top: 9px;
  }
  .header_burger.active::after {
    transform: rotate(45deg);
    bottom: 9px;
  }

  .header_menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 70%;
    height: 100%;
    background-color: var(--neutral-off-white);
    padding: 200px 0 0 0;
    overflow: auto;
    transition: all 0.3s ease;
  }
  .header_menu.active {
    left: 30%;
    z-index: 5;
  }

  .header_list {
    display: block;
  }
  .header_list li {
    margin-bottom: 30px;
    font-size: 1.5em;
  }
  li a {
    color: var(--neutral-very-dark-blue);
  }

  .articles {
    margin-top: 140px;
  }
  .main-article-area {
    margin-right: 0;
    margin-bottom: 100px;
  }
  .main-article-text button {
    margin-top: 10px;
  }

  .single-article {
    margin-right: 0;
    height: 160px;
  }
  .single-article-text {
    flex: 5;
  }
  .single-article-img {
    flex: 1;
  }
  .single-article-img img {
    object-position: right;
  }
}
@media screen and (max-width: 400px) {
  .container {
    padding: 0 20px;
  }
  .header_menu {
    padding: 120px 0 0 0;
  }
  .articles {
    margin-top: 85px;
  }
  .main-article-text {
    margin-top: 20px;
  }
  .main-article-text h1 {
    font-size: 2.5em;
  }
  .new-article-area {
    padding: 23px;
  }
  .single-article {
    margin-bottom: 20px;
  }
  .single-article-text {
    flex: 2.5;
  }
  .single-article-img img {
    object-position: top;
  }
}
