/* ## Colors

--primary

- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

--neutral

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800
 */
:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);

  --neutral-off-white: hsl(36, 100%, 99%);
  --neutral-grayish-blue: hsl(233, 8%, 79%);
  --neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --neutral-very-dark-blue: hsl(240, 100%, 5%);
}
/*Setting to zero*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
.container {
  max-width: 1200px;
  margin: 20px auto 0 auto;
  padding: 0 15px;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
}
ul li {
  padding: 0;
  margin-right: 5px;
  list-style: none;
  color: var(--neutral-dark-grayish-blue);
}
ul li:active,
ul li:hover {
  cursor: pointer;
  color: var(--primary-soft-red);
}

main {
  flex: 1 1 auto;
}
.articles {
  display: flex;
}
.main-article-area {
  flex: 3;
  margin-right: 30px;
}
.main-article-image {
  min-height: 150px;
}
.main-article-image img {
  width: 100%;
}
.main-article-text {
  display: flex;
  margin: 20px 0;
}
.main-article-text h1 {
  flex: 1;
  padding-right: 20px;
  color: var(--neutral-very-dark-blue);
  font-size: 4em;
  font-weight: 800;
}
.main-article-text div {
  flex: 1;
  color: var(--neutral-dark-grayish-blue);
}
.main-article-text button {
  margin-top: 40px;
  padding: 10px 20px;
  color: var(--neutral-off-white);
  background-color: var(--primary-soft-red);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
.main-article-text button:active,
.main-article-text button:hover {
  cursor: pointer;
  background-color: var(--neutral-very-dark-blue);
}

.new-article-area {
  flex: 1;
  background-color: var(--neutral-very-dark-blue);
}
.new-article-area h2 {
  color: var(--primary-soft-orange);
  font-size: 2em;
}
.new-article-area h3 {
  color: var(--neutral-off-white);
}

.three-articles-area {
  display: flex;
}
.three-articles-area + div {
  display: flex;
}
.three-articles-area article {
  display: flex;
}
.single-article-text {
  flex: 3;
  padding-left: 20px;
}
.single-article-img {
  min-width: 100px;
  /* max-height: 150px; */
}
.single-article-img img {
  width: 100%;
  height: auto;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: none;
  }
}
